<div>
<form action="/cadastrar" method="post" th:fragment="formularioUsuario">
    <div>
        <div class="mb-3">
            <label for="exampleInputText1" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" th:value="*{nome}" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" th:value="*{email}">
            <div id="emailHelp" class="form-text">Não iremos compartilhar seu email.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="senha" name="senha" th:value="*{senha}">
        </div>
        <input type="submit" class="btn btn-primary" value="Cadastrar usuário">
    </div>
</form>

</div>
