<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuário</title>
</head>
<body>
    <div>
        <h1>Editar Usuário</h1>
        <form th:action="@{/editar/{id}(id=${usuario.id})}" method="POST">
            <div>
                <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" th:value="${usuario.nome}" >
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" th:value="${usuario.email}">
                    <div id="emailHelp" class="form-text">Não iremos compartilhar seu email.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="senha" name="senha" th:value="${usuario.senha}">
                </div>
                <input type="submit" class="btn btn-primary" value="Cadastrar usuário">
            </div>
        </form>
    </div>
</body>
</html>